borderWithDropShadow()
  border thin solid black
  border-radius 0.25em
  box-shadow 0.25em 0.25em 0.25em gray

header
  borderWithDropShadow()
  background-color beige

nav
  borderWithDropShadow()
  background-color lavender
